@import url('https://fonts.googleapis.com/css?family=Open+Sans');

img{
	max-width: 200px;
}

html, body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

*, *:before, *:after{
	box-sizing: border-box;
	position: relative;
}

header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: dashed 3px yellow;
}

nav{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 5%;
}

nav ul{
	padding: 0;
	margin: 0;
	text-align: center;
}

nav ul li{
	display: inline;
	font-family: 'FreightSansProBook-Regular';
	font-size: 0.88em;
	color: #000000;
	text-transform: uppercase;
	line-height: 0.75em;
	padding: 4% 2%;
}

nav div {
	border: solid #000 1px;
	height: 8px;
	width: 80%;
	margin: 0 auto;
}

#logo-turma{
	width: 15%;
	margin-left: 11%;
	margin-top: 33px;
}

header h1, h2{
	margin: 0 auto;
}

header h1 {
	font-family: 'HaikusScript-V8';
	font-size: 6em;
	color: #000000;
	font-style: normal;
	text-align: left;
	margin-top: 7%;
}

header h2 {
	font-family: 'HaikusScript-V8';
	font-size: 3em;
	color: #000000;
	font-style: normal;
	text-align: left;
}

header p{
	margin:0 auto;
	margin-top:17%;
	margin-bottom: 1%;
	font-family: 'FreightSansProBook-Regular';
	font-size: 0.88em;
	color: #000000;
	font-style: normal;
	text-align: center;
	line-height: 0.75em;
}

#legume1{
	position: absolute;
	width: 28%;
	top: 20%;
	right: -15%;
}

#legume2{
	position: absolute;
	width: 28%;
	top: 45%;
	left: -10%;
}

#sobre{
	width: 60%;
	margin: 0 auto;
	padding-top: 16px;
	padding-bottom: 51px;
}

section h2{
	font-family: 'HaikusScript-V8';
	font-size: 2.69em;
	color: #000000;
	font-style: normal;
	text-align: center;
	background: yellow;
	min-width: 50%;
	margin-top: 82px;
}

#sobre h3{
	font-family: 'FreightSansProMedium-Regular';
	font-size: 1.44em;
	color: #000000;
	font-style: normal;
	text-align: left;
	line-height: 1.23em;
	padding-top:24px;
}

#sobre p{
	font-family: 'FreightSansProBook-Regular';
	font-size: 1.25em;
	color: #000000;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	margin-top: 22px;	
}

#resultados {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60%;
	margin: 0 auto;
	border: dashed 3px yellow;
}

#resultados h2 {
	width: 100%;
	align-self: flex-start;
}

.image{
	margin: 0 8%;
	margin-top: 126px;
	margin-bottom: 202px;
	width: 100%;
	height: 100%;
}

#midia{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	margin: 0 auto;
}

.cont-midia {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	max-width: 70%;
	margin-top: 5%;
}

.cont-midia1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 70%;
	margin-right: 5%;
}

.cont-midia2{
	display: flex;
	flex-direction: column;
	max-width: 30%;
}

.cont-midia2 div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#midia img{
	width: 100%;
	margin-top: 2%;
}

#midia a{
	font-family: 'FreightSansProBook-Regular';
	font-size: 0.88em;
	color: #036fef;
	font-style: normal;
	text-decoration: underline;
	text-align: left;
	line-height: 0.75em
	flex-end: column;
}

#acontecendo {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cont-acontecendo{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.cont-acontecendo div{
	width: 30%;
	margin-top: 74px;
	margin-bottom: 108px;
}

.cont-acontecendo div img{
	align-self: center;
}

.cont-acontecendo div:nth-child(1) img{
	width: 25%;
}
.cont-acontecendo div:nth-child(2) img{
	width: 20%;
}
.cont-acontecendo div:nth-child(3) img{
	width: 25%;
}

@font-face {
	font-family: 'FreightSansProBook-Regular';
	src: url('fonts/FREIGSANPROBOOK.OTF');
}
@font-face {
	font-family: 'HaikusScript-V8';
	src: url('fonts/HAIKUS SCRIPT VERSION 08.TTF');
}
@font-face {
	font-family: "FreightSansProMedium-Regular";
	src: url(fonts/FREIGSANPROMED.OTF);
}
@font-face {
	font-family: "FreightSansProSemibold";
	src: url(fonts/FREIGSANPROSEM.OTF);
}
@font-face {
	font-family: "FreightSansProSemibold-Regular";
	src: url(fonts/FREIGSANPROSEM.OTF);
}
@font-face {
	font-family: "FreightSansProSemibold-Regular";
	src: url(fonts/);
}

#ajudar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	margin: 0 auto;
}

.a-ajudar{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.a-ajudar div {
	max-width: 35%;
	margin: 0 auto;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2% 0;
}
footer img {
	max-width: 80%;
}
footer ul {
 display: flex;
 align-items: center;
 /*flex-direction: row;*/
 justify-content: center;
 align-content: space-between;
 max-width: 30%;
 margin: 2% 0;
}

footer ul li {
/*	list-style: none;*/
	display: inline;
}
footer li:nth-child(2){
	margin-left: 5%;
} 
footer li:nth-child(3){
	margin-left: 14%;
}
footer ul img, footer ul p{
	margin-top: 32px;
} 
footer ul li div {
	display: flex;
	align-items: center;
}

/*footer ul div {
	display: flex;
}*/

/*footer ul li img,
footer ul div img {
	max-height: 150px;
	max-width: 150px: 
}
*/